*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
html,
body {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0 auto;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: white;
  justify-content: center;
  overflow-x: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.align-center {
    align-items: center;
  }
  
.row {
    display: flex;
  }
  
.space-between {
    justify-content: space-between;
  }

body{
    max-width: 100vw;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.wrapper{
    width: 1920px;
    margin: 0 auto;
    align-items: center;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #a4a4a4;
    align-items: center;
}



.phone a{
    text-decoration: none;
    color: #000000;
    font-size: 2.1rem;
    font-weight: 300;
}

.logo{
    background-image: url('images/logo.png');
    width: 102px;
    height: 84px;
    background-size: cover;
}

/* -------------------- */

.main_screen{
    text-align: center;
    padding-bottom: 60px;
}

.main_screen h1{
    font-size: 200px;
    font-weight: 500;
    padding: 30px;
    width: 100%;
}

.main_screen_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 40px;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}

.main_screen_grid_firstImg{
    background-image: url('images/firstImg.jpg');
    background-size: cover;
    height: 100%;
}

.main_screen_grid_secondImg{
    background-image: url('images/secondImg.jpg');
    background-size: cover;
}

.main_screen_grid_thirdImg{
    background-image: url('images/thirdImg.jpg');
    background-size: contain;
    border: 1px solid;
}

.main_screen_grid_fourthImg{
    background-image: url('images/fourthImg.jpg');
    background-size: contain;
    border: 1px solid;
}

.main_screen_grid_firstText, .main_screen_grid_secondText{
    text-align: left;
    display: flex;
    flex-direction: column; /* Делаем основную ось вертикальной */
    justify-content: space-between;
}

.main_screen_grid_title{
    font-size: 40px;
}

/* ------------ */

.main_image_contain{
    background-image: url('images/main_img.jpg');
    background-size: cover;
    width: 100%;
    height: 40vh;
}

.main_image_lineContain{
    width: 100%;
    height: 100px;
    top: 760px;
    left: 0%;
    border: 1px solid;
    padding: 20px 0px;
    margin-top: 30px;
}

.main_image_line{
    width: 100%;
    height: 54px;
    top: 0px;
    left: 0;
    overflow: hidden;
  }

  .main_image_line p{
    /* padding-top: 90px; */
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    width: 20%;
    white-space: nowrap;
  }

  .main_image_line div{
    display: flex;
    width: 300%;
    animation: main_image_line 30s linear infinite;
  }
  
  @keyframes main_image_line{
    0%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-50%);
    }
  }

  /* --------- */

  .advantages{
    padding-top: 40px;
  }

  .advantages_contain{
    display: flex;
    justify-content: space-between;
  }

  .advantages_first, .advantages_second, .advantages_third{
    width: 30%;
  }

  .advantages_title{
    font-size: 1rem;
    padding: 15px 0px;
    border-bottom: 1px solid;
  }

  .advantages_text{
    font-size: 2.5rem;
  }

  /* ---------- */

  .price_image {
    display: flex;
    justify-content: space-between; /* Разделяем пространство между картинкой и заголовком */
    align-items: flex-end; /* Выравниваем элементы по нижнему краю */
    height: 70vh;
    margin-top: 40px;
}

.price_image_contain {
    background-image: url('images/secondImg.jpg');
    background-size: contain;
    max-width: 1200px; /* Половина от 1640px */
    width: 50%; /* Половина ширины контейнера */
    height: 100%; /* Занимает всю высоту контейнера */
}

.price_image h2 {
    text-align: center;
    font-size: 6.2rem;
    font-weight: normal;
    margin: 0; /* Убираем отступы */
    line-height: 50px;
}

/* ------------ */

.price_list{
  	padding-top: 5%;
    display: flex;
    flex-direction: column; /* Чтобы элементы располагались вертикально */
    align-items: flex-end; /* Выравнивание по правому краю */
    width: 100%;
}

.price_first, .price_second{
	display: flex;
	justify-content: space-between;
	width: 60%;
	border-bottom: 1px solid black;
}

.price_first p, .price_second p{
	font-size: 2rem;
	line-height: 80px;
}

/* -------------- */

.order_info{
  margin: 0 auto;
  width: 100%;
}


.order{
	padding-top: 5%;
	display: flex;
    flex-direction: column; /* Чтобы элементы располагались вертикально */
    align-items: flex-end; /* Выравнивание по правому краю */
    width: 90%;
}

.order h2{
	font-size: 6.2rem;
  font-weight: normal;
}

.order_number_1{
	background-image: url("images/order_1.png");
	background-size: contain;
	width: 100%;
	height: 137px;
}

.order_number_2{
	background-image: url("images/order_2.png");
	background-size: contain;
	width: 100%;
	height: 137px;
}

.order_number_3{
	background-image: url("images/order_3.png");
	background-size: contain;
	width: 100%;
	height: 137px;
}

.order_num{
	display: flex;
	width: 65%;
  align-items: center;
  padding-top: 2%;
}

.order_num p{
	font-size: 3rem;
}

.orfer_num_text{
  width: 100%;
}


/* ------------- */

.contacts {
  display: flex;
  width: 50%;
  margin: 0 auto;
  padding-top: 3%;
}

.contacts a {
  display: block;
  text-decoration: none; /* Убираем подчеркивание ссылки */
  width: 100%; /* Занимает всю ширину контейнера */
}

.mobile, .whatsapp, .telegram {
  background-repeat: no-repeat; /* Чтобы изображение не повторялось */
  background-position: center center; /* Центрирование изображения */
  background-size: contain; /* Масштабирование изображения, чтобы оно целиком помещалось в контейнер */
  display: flex; /* Для выравнивания содержимого по центру, если будет добавлен текст или другие элементы */
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; /* Вертикальное выравнивание по центру */
  height: 12vh; /* Высота контейнера */
  width: 100%; /* Занимает всю ширину родительского элемента */
}

.mobile {
  background-image: url('images/mobile.png'); /* Временный URL для отладки */
}

.whatsapp {
  background-image: url('images/whatsapp.png'); /* Временный URL для отладки */
}

.telegram {
  background-image: url('images/telegram.png'); /* Временный URL для отладки */
}

/* -------- */

.footer{
  padding-top: 4%;
  padding-bottom: 2%;
}


@media (min-width: 1281px) and (max-width: 1550px) {
  .wrapper {
    width: 100%; /* Делаем ширину 80% */
    padding: 0 20px; /* Добавляем отступы */
  }

  .main_screen h1 {
    font-size: 6rem; /* Уменьшаем размер шрифта */
  }

  .main_screen_grid {
    grid-template-columns: repeat(3, 1fr); /* Трехколоночная сетка */
    grid-template-rows: repeat(2, 1fr); /* Увеличиваем количество строк */
    width: 90%; /* Занимает 90% ширины */
    height: 90vh;
  }

  .main_image_contain{
    height: 25vh;
  }

  .advantages_text{
    font-size: 1.7rem;
  }

  .price_image {
    height: 60vh; /* Уменьшаем высоту */
  }

  .price_image_contain {
    width: 50%; /* Половина ширины контейнера */
    height: 100%; /* Занимает всю высоту */
  }

  .price_image h2 {
    font-size: 5rem; /* Уменьшаем размер шрифта */
  }

  .order{
    width: 100%;
  }

  .order h2{
    font-size: 5rem;
    align-items: right;
  }

  .order_num{
    width: 100%;
  }

  .order_number_1, .order_number_2, .order_number_3{
    width: 42%;
  }

  .contacts {
    width: 50%; /* Занимает всю ширину */
  }

  .contacts a {
    margin-right: 10px; /* Добавляем отступы справа */
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .wrapper {
    width: 90%; /* Делаем ширину 90% */
  }

  .main_screen h1 {
    font-size: 5rem; /* Уменьшаем размер шрифта */
  }

  .main_screen_grid {
    grid-template-columns: repeat(2, 1fr); /* Двухколоночная сетка */
    grid-template-rows: repeat(3, 1fr); /* Увеличиваем количество строк */
  }

  .main_screen_grid_fourthImg, .main_screen_grid_thirdImg{
    background-size: cover;
    background-position: center center;
  }

  .main_image_contain{
    height: 20vh;
  }

  .main_image_line div{
    width: 400%;
  }

  .advantages_text{
    font-size: 1.5rem;
  }

  .price_image {
    height: 50vh; /* Уменьшаем высоту */
  }

  .price_image_contain {
    width: 50%; /* Половина ширины контейнера */
    height: 100%; /* Занимает всю высоту */
  }

  .price_image h2 {
    font-size: 4rem; /* Уменьшаем размер шрифта */
  }

  .order{
    width: 100%;
  }

  .order h2{
    font-size: 4rem; 
  }

  .order_num p{
    font-size: 1.9rem;
  }

  .order_number_1, .order_number_2, .order_number_3{
    height: 11vh;
    width: 48vw;
  }

  .order_num{
    width: 70%;
  }

  .contacts {
    flex-direction: row; /* Горизонтальное направление flex */
    width: 50%; /* Занимает всю ширину */
  }

  .mobile, .whatsapp, .telegram{
    height: 7vh;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .wrapper {
    width: 100%; /* Делаем ширину 100% */
    padding: 0 20px; /* Добавляем отступы */
  }
    /* Уменьшаем размер логотипа */
    .logo {
      width: 50px;
      height: 41px;
      background-size: contain; /* Обеспечиваем масштабирование изображения без обрезки */
    }
  
    /* Скрываем текстовый номер телефона и показываем иконку телефона */
    .phone-number {
      display: none; /* Скрываем текстовый номер телефона */
    }
  
    .phone-icon {
      display: inline-block; /* Показываем иконку телефона */
      width: 24px; /* Ширина иконки */
      height: 24px; /* Высота иконки */
      background-image: url('images/mobile.png'); /* Устанавливаем изображение иконки телефона */
      background-size: contain; /* Масштабирование изображения */
      background-repeat: no-repeat; /* Запрещаем повторение изображения */
    }
  
    .menu {
      flex-direction: row; /* Обеспечиваем горизонтальное расположение элементов */
      justify-content: space-between; /* Разделяем элементы на максимальное расстояние */
      align-items: center; /* Выравниваем элементы по центру */
    }

    .main_screen_grid {
      display: grid;
      grid-template-columns: 1fr; /* Одноколоночная сетка */
      grid-template-rows: auto; /* Высота строк зависит от содержимого */
      width: 100%; /* Занимает всю ширину */
      height: auto;
    }
    
    .main_screen_grid_secondImg,
    .main_screen_grid_thirdImg,
    .main_screen_grid_fourthImg {
      background-position: center center;
      height: 40vh;
    }
    
    .main_screen_grid_firstImg {
      display: none;
    }
    
    .main_screen_grid_firstText,
    .main_screen_grid_secondText {
      height: auto; /* Автоматическая высота в зависимости от содержимого */
      margin: 10px 0; /* Отступы сверху и снизу для разделения элементов */
    }
    
    .main_screen h1 {
      font-size: 3rem; /* Уменьшаем размер шрифта */
    }
    
    .main_screen_grid_firstText p,
    .main_screen_grid_secondText p {
      margin: 0; /* Убираем отступы у параграфов */
      padding: 5px 0; /* Добавляем отступы для улучшения внешнего вида */
    }
    
    .main_screen_grid_title {
      font-size: 1.5rem; /* Уменьшаем размер шрифта заголовков */
      margin-bottom: 5px; /* Отступ снизу для разделения с текстом */
    }
    
    .main_image_contain{
      height: 20vh;
    }

    .main_image_line p{
      font-size: 1rem;
    }

    .main_image_lineContain{
      padding: 5px 0px;
      height: 70px;
    }

    .main_image_line div{
      width: 400%;
    }

    .advantages_contain{
      flex-direction: column;
    }

    .advantages_first, .advantages_second, .advantages_third{
      width: 100%;
      padding-top: 30px;
    }

    .advantages_title{
      padding: 10px 0px;
      font-weight: 800;
    }

    .advantages_text{
      font-size: 1rem;
      padding-top: 10px;
    }

    .price_image{
      align-items: center;
    }

    .price_first, .price_second{
      width: 100%;
    }

  .price_image {
    flex-direction: column; /* Меняем направление flex */
    height: auto; /* Автоматическая высота */
  }

  .price_image_contain {
    width: 100%; /* Занимает всю ширину */
    height: 50vh; /* Высота контейнера */
  }

  .price_image h2, .order h2 {
    font-size: 2rem; /* Уменьшаем размер шрифта */
  }

  .order{
    padding-top: 60px;
    align-items: center;
    width: 100%;
  }

  .order_num{
    display: block;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .order_number_1, .order_number_2, .order_number_3{
    width: 22vw;
    margin: 0 auto;
  }

  .order_num p{
    font-size: 1.5rem;
  }

  .order_info{
    padding-top: 40px;
    display: block;
    align-items: center;
  }

  .contacts {
    width: 100%; /* Занимает всю ширину */
    padding-top: 40px;
  }

  .contacts a {
    margin-bottom: 10px; /* Добавляем отступы снизу */
  }

  .mobile, .whatsapp, .telegram{
    height: 7vh;
  }
}


